@page
@model MomoMecha.Pages.BacklogPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome Pilot, to your Gundam armory</h1>
<h4>Backlog</h4>

<p>
    <a asp-page="Create" class="btn btn-secondary">Create New</a>
</p>
<form>
    <input type="text" name="SearchString" placeholder="Search for Gundam" class="form-control">
</form>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Backlog[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backlog[0].Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backlog[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backlog[0].Scale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Backlog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
