@page
@model MomoMecha.Pages.WishlistPages.IndexModel

@{
    ViewData["Title"] = "Wishlist";
}

<h1>Welcome Pilot, to your Gundam armory</h1>
<h4>Wish List</h4>

<div class="mb-3">
    <a asp-page="Create" class="btn btn-secondary">Create New</a>
    <a href="#" id="copyLink" class="btn btn-primary bi bi-clipboard"></a>
    <div id="copyToast" class="toast position-fixed bottom-0 end-0 mx-auto" style="z-index: 12; margin-bottom: 5rem;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong>Copied to Clipboard</strong>
        </div>
        <div class="toast-body">
            User link has been copied to clipboard.
        </div>
    </div>
</div>
<form>
    <input type="text" name="SearchString" placeholder="Search for Gundam" class="form-control">
</form>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist[0].Scale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wishlist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    document.getElementById('copyLink').addEventListener('click', function () {
        var linkToCopy = "https://momomecha.azurewebsites.net/SearchUsers?SearchString=@Html.Raw(Uri.EscapeDataString(Model.UserName))";

        var tempInput = document.createElement('input');
        tempInput.value = linkToCopy;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        // Show Bootstrap toast
        var copyToast = new bootstrap.Toast(document.getElementById('copyToast'));
        copyToast.show();
    });
</script>
