@page
@model MomoMecha.Pages.GundamPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome Pilot, to your Gundam armory</h1>
<h4>Built Gundams</h4>

<p>
    <a asp-page="Create" class="btn btn-secondary">Create New</a>
</p>
<form>
    <input type="text" name="SearchString" placeholder="Search for Gundam" class="form-control">
</form>
<div class="row mt-3">
    @foreach (var item in Model.Gundam)
    {
        <div class="col-md-4">
            <div class="card border-primary mb-3">
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="card-img-top" alt="Gundam Image">
                <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">
                        <strong>Series:</strong> @Html.DisplayFor(modelItem => item.Series)<br>
                        <strong>Grade:</strong> @Html.DisplayFor(modelItem => item.Grade)<br>
                        <strong>Scale:</strong> @Html.DisplayFor(modelItem => item.Scale)
                    </p>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary bi bi-pencil-square"></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger bi bi-x-lg"></a>
                </div>
            </div>
        </div>
    }
</div>